.container {
  .dashboard-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h1 {
      text-align: center;
    }

    section {
      margin-bottom: 30px;

      h2 {
        margin-bottom: 10px;
        color: #007bff;
      }

      p {
        margin: 5px 0;
      }
    }

    ng-template {
      color: gray;
      font-style: italic;
    }
  }

}
